@charset "UTF-8";

/* Global variables  */

* {
    box-sizing: border-box;
}

:root {
    --color-link: darkcyan;
    --padding: 0.5rem;
    --back-ground-color: white;
    --color-ink: black;
    --back-ground-color-title: black;
    --color-ink-title: white;
    --back-ground-color-secundary: darkgray;

    --blockquote-size: 1.25rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-ink);
    background-color: var(--back-ground-color);
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    text-decoration: underline;
}

table {
    
    width: 100%;

    border: 1px solid #dfdfdf;
}

caption {
    font-variant: small-caps;
    font-weight: bold;
}

thead,
tfoot {
    background-color: var(--back-ground-color-title);
    color: var(--color-ink-title);
}

th {
    font-weight: bold;
}

thead th:nth-of-type(2),
thead th:nth-of-type(3),
tfoot th:nth-of-type(2),
tfoot th:nth-of-type(3) {
    text-align: left;
}

tbody tr:nth-of-type(even) {
    background-color: var(--back-ground-color-secundary);
}

td,
th {
    padding: var(--padding);
    border: 1px solid #dfdfdf;
}